body {
    background-image: url(backround/backround\,jpg.avif); /* Fixed the URL path and escaped the comma properly */
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
}

@font-face {
    font-family: 'Lemonmilk'; 
    src: url('C:/Users/stian/OneDrive - Osloskolen/IM Kuben VG1/Høstsemester/portifiole.v2/font/Lemonmilk.ttf'); 
}

a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    top: 50px;
    text-align: left;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.home {
    margin-left: 200px;
}

.about {
    margin-left: 400px;
}

.contact {
    margin-left: 1200px;
}

.project {
    margin-left: 1600px;
}

.img {
    margin-left: 900px;
}


.video {
    background-color: gray;
    height: 500px;
    width: 1000px;
    border-radius: 50px;
    margin-left: 400px;
margin-top: 100px;
}

p {
    color: white;
    font-size: 30px;
    font-family: 'Lemonmilk', sans-serif;
    position: absolute;
    top: 500px;
    left: 850px;
}

h3 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 800px;
    left: 750px;
}